<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.grubox">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="android.permission.REQUEST_SUPERUSER"
        android:protectionLevel="signature" />
    <permission
        android:name="android.permission.REPORT_SUPERUSER"
        android:protectionLevel="signature" />

    <permission-group
        android:name="android.permission-group.SUPERUSER"
        android:priority="10000" />

    <permission
        android:name="android.permission.ACCESS_SUPERUSER"
        android:permissionGroup="android.permission-group.SUPERUSER"
        android:protectionLevel="dangerous" />

    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".activity.Application"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".activity.MainMenu"
            android:label="@string/app_name" />
        <activity android:name=".activity.ProductListing" />
        <activity android:name=".activity.ConsoleActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.GrucardActivity" />
        <activity android:name=".activity.PayWithCash" />
        <activity android:name=".activity.PayWithPaytm" />
        <activity android:name=".activity.TestMachine" />
        <activity android:name=".activity.TestMachineMain" />
        <activity android:name=".activity.CashCommunicate" />
        <activity
            android:name=".activity.LoyaltyandPayments"
            android:label="@string/title_activity_loyaltyand_payments"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>